.artworks-page {
  padding: 40px;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

/* Grid Layout */
.artworks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

/* Card */
.art-card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s ease;
}

.art-card:hover {
  transform: translateY(-5px);
}

.art-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.art-card h3 {
  margin: 15px 0 5px;
}

.price {
  font-weight: bold;
  margin-bottom: 15px;
  color: #c68375;
}

/* Buttons */
.card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.wishlist-btn {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #c68375;
  background: transparent;
  cursor: pointer;
}

.wishlist-btn:hover {
  background-color: #c68375;
  color: white;
}

.buy-btn {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.buy-btn:hover {
  opacity: 0.8;
}
.artist {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}