/* Background */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffe5d4, #ffd6c2); /* light peach */
}

/* Card */
.auth-card {
  width: 380px;
  padding: 40px;
  background-color: rgba(240, 244, 245, 0.95);
  border-radius: 20px;
  text-align: center;
  color: black;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* Input */
.auth-input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 10px;
  border: 2px solid rgba(8, 8, 8, 0.3);
  background: transparent;
  color: black;
  outline: none;
  transition: 0.3s;
}

.auth-input::placeholder {
  color: rgba(29, 26, 26, 0.6);
}

/* Highlight before clicking */
.auth-input:hover {
  border-color: #ffffff;
}

/* Highlight when focused */
.auth-input:focus {
  border-color: #393d3d;
  box-shadow: 0 0 8px #202122;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to right, #2a6fd1, #00c3ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  transform: scale(1.05);
}

/* Switch text */
.switch-text {
  margin-top: 20px;
}

.switch-text a {
  color: #00c3ff;
  text-decoration: none;
}