.whatsnew-container {
  display: flex;
  height: 90vh;
  padding: 40px;
  background-color: #f8f8f8;
  align-items: center;
  gap: 50px;
}

/* LEFT IMAGE */
.whatsnew-left {
  flex: 1;
}

.whatsnew-left img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* RIGHT DETAILS */
.whatsnew-right {
  flex: 1;
}

.whatsnew-right h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.whatsnew-right h4 {
  margin-bottom: 10px;
  color: #555;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #c68375;
  margin-bottom: 20px;
}

.whatsnew-right p {
  line-height: 1.6;
  color: #444;
}